{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <h1>Nouvelle catégorie</h1>

    {{ include('category/_form.html.twig') }}

    <br><a class="btn btn-secondary" href="{{ path('app_category_index') }}">Revenir à la liste</a>
{% endblock %}
